<h3 style="color:#000000;">Activity Summary</h3>
<div ng-controller="activitysummarycontoller as activity">

	<div class="row">
		<div class="col-sm-4">
			<button type="button" ng-click="save()" class="pull-left btn btn-info btn-cons">
				Create Activity
			</button>
		</div>
</div>
<div class="row">
   &nbsp;&nbsp;
</div>

	<div class="panel panel-default">
	 <div class="table-responsive">
			
			<div class="row">
				<div class="col-sm-12">
					<table    datatable="ng"  class="table table-bordered table-hover">
						<thead>
							<tr>
								<th >Process</th>
								<th >Activity</th>
								<th >Default Display</th>
								<th >Billable</th>
															
								<th class="text-center" colspan="3">Action</th>
							</tr>
						</thead>      
						<tbody>
							<tr  ng-repeat="toe in activity">
								<td>{{toe.service}}</td>
								<td>{{toe.activityname}}</td>
								<td>{{toe.defaultdisplay}}</td>
								<td>{{toe.billable}}</td>
								
								<td class="text-center">
									
									<button type="button" title="Edit"  ng-click="activityedit(toe.activitygid)" class="btn btn-sm btn-warning">
										<em class="fa fa-edit"></em>
									</button>
									</td>
									<td class="text-center">
									<button type="button" title="Delete" ng-click="delete(toe.activitygid)" class="btn btn-sm btn-danger">
										<em class="fa fa-trash-o"></em>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
	

</div>