
   
  <h3 >Create Opening Balance</h3>
  <div ng-controller="openingbalancecontroller as openingbalance">

      
               <div class="panel panel-default">
               <div class="panel-body">
  
            <div class="row">
             
               <div class="col-sm-6">
                  <div  class="form-group">
                     <label>Account Ref.No</label>
                 </div>
               </div>
              <div class="col-sm-6">
                   <div  class="form-group">
                       <input class="form-control" type="creditamount" placeholder="Enter Creditamount" />
                  </div>
             </div>
            
          </div>


          <div class="row">
        
             <div class="col-sm-6">
                 <div  class="form-group">
                     <label >Branch Name</label>
                </div>
            </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              
              <select name="branch"   class="mda-form-control">
                <option>KVR Consultancy</option>
                <option>RV Pvt Ltd</option>
                <option>DR Pvt Ltd</option>    
              </select>
            </div>
          </div>
          
         </div>

          <div class="row">
          
              <div class="col-sm-6">
                 <div  class="form-group">
                    <label>Balance Type</label>
                </div>
              </div>
                <div class="col-sm-6">
                  <div  class="form-group">
                        <div class="radio">
                          <label>
                              <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="true" />Liability</label>
                    
                        
                    
                             <label>
                                <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2" />Asset</label>
                        </div>
                  
                    </div>
                </div>
                
          </div>

            
         
               
         <div class="row">  
          
          
          <div class="col-sm-6">
            <div  class="form-group">
              
              <label >Parent Name</label>

              
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              
              <select name="branch"   class="mda-form-control">
                <option>Current Liabilities</option>
                <option>Loan</option>  
              </select>
            </div>
          </div>

          
            
          </div>
        <div class="row">  
           
          <div class="col-sm-6">
            <div  class="form-group">
              
              <label >Account Name</label>

              
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              
              <select name="branch"   class="mda-form-control">
                <option>Credit Cards</option>
                <option>ESIC</option>
                <option>Provided Fund</option>  
                <option>Sundry Creditors</option> 
                <option>Trainee Caution Deposit</option> 
              </select>
            </div>
          </div>

          
            
          </div>


         <div class="row">
          
          <div class="col-sm-6">
            <div  class="form-group">
              
              <label>Credit Amount</label>

              
            </div>
          </div>
          <div class="col-sm-6">
            <div  class="form-group">
               <input class="form-control" type="creditamount" placeholder="Enter Creditamount" />
            
              

              
            </div>
          </div>
          </div>

  <div class="row">

    <div class="col-sm-4">
      <div  class="form-group">

        <label >Remarks</label>


      </div>
    </div>

    <div class="col-sm-8">
      <div   class="form-group">
       <textarea rows="4" class="form-control" cols="30"></textarea>

     </div>
   </div>


  </div>

        <div class="row">  
              <div class="col-sm-4">
                
              </div>     
              
              <div class="col-sm-4">
                <div  class="form-group">
                  
                  <button type="button" ng-click="" class="pull-left btn btn-green">
                    Submit
                  </button>

                  
                </div>
              </div>
              <div class="col-sm-4">
                
              </div>  
              
              
              
            </div>
               </div>
               </div>
               
