   <div ng-controller="currencyactivate as currencyactivate">
            
        <div class="panel-body">
         <div class="row" align="center">
                     <label>Do You Want to Activate this Currency</label>

           </div>
    
       
     <div class="row">
       <div class="col-sm-1">
       </div>
       <div class="col-sm-5">
       
        <div  class="form-group">
          <button type="button" ng-click="" class="pull-left btn btn-green">
            Delete
          </button>
        </div>
      </div>
      <div class="col-sm-5">
      <div  class="form-group">
          <button type="button" ng-click="" class="pull-left btn btn-green">
            Cancel
          </button>
        </div>
      </div>
      <div class="col-sm-1">
        
      </div>
    </div>
    </div>
  
  </div>
  </div>

