
<div ng-controller="deactivatecustomerCtrl as Customerdeactivate" class="container-fluid">	
<div class="row">
    <div>
         <p class="mt-sm" align="center">Do you want to deactivate this customer</p>
      </div>
</div>
<div class="row">
<p></p>
</div>
<div class="row">
<p></p>
</div>
<div class="row">
<p>
</p>
</div>
<div class="row">   
    <div class="col-sm-4">
    </div>
    <div class="col-lg-4">
        <p><a class="btn btn-green" href="" ng-click="deactivate()">Deactivate</a>
         </p>
    </div>
    
    <div class="col-sm-4">
    </div>
</div>
</div>