
 
<h3 >Edit Activity</h3>
<div ng-controller="editactivitycontoller as editactivity">
<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" name="editactivityForm" novalidate="" class="form-validate ">
            <div class="row">  							
			    <div class="col-sm-6">
				<div  class="form-group">						
					<label >{{ 'master.HEADER' | translate }}</label>						
				</div>
				</div>
               <div class="col-sm-6">
	              <div class="form-group">
			        <select name="category" ng-model="process"  class="mda-form-control"  >
					<option value="">--select-</option>
					<option value="{{list.servicename}}" ng-repeat="list in servicelist ">{{list.servicename}}</option>
                    </select>
	               </div>
	            </div>
            </div>
        <div class="row">
	        <div class="col-sm-6">
			  <div class="form-group">
				<label>Activity</label>
			  </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<input class="form-control" type="activity" placeholder="Enter Activity" ng-model="activity"  name="activity" required="" />
					<span ng-show="editactivityForm.activity.$dirty &amp;&amp; editactivityForm.activity.$error.required" class="text-danger">Please Enter the Activity
					 </span>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Default Display</label>
                    </div>
				</div>
				<div class="col-sm-6">
					<div  class="form-group">
				<div class="radio">
                     <label>
                        <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="true" />Yes</label>
                </div>
                <div class="radio">
                     <label>
                      <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2" />No</label>
                </div>
					
						

						
					</div>
				</div>
				</div>
					<div class="row">
				
				<div class="col-sm-6">
					<div  class="form-group">
						
						<label>Billable</label>

						
					</div>
				</div>
				<div class="col-sm-6">
					<div  class="form-group">
						 <div class="radio">
                     <label>
                        <input id="optionsRadios11" type="radio"  name="optionsRadios1" value="option1" checked="true" />Yes</label>
                  </div>
                  <div class="radio">
                     <label>
                        <input id="optionsRadios12" type="radio" name="optionsRadios1" value="option2" />No</label>
                  </div>
					
						

						
					</div>
				</div>
				</div>
				<div class="row">

				<div class="col-sm-6">
					<div  class="form-group">
						
						<label>Amount</label>
                         
						
					</div>
				</div>
				<div class="col-sm-6">
					<div  class="form-group">

					 <input class="form-control" ng-model="amount" type="amount" name="amount" required="" placeholder="Enter Amount" />

					 <span ng-show="editactivityForm.amount.$dirty &amp;&amp; editactivityForm.amount.$error.required" class="text-danger">Please Enter Amount
					 </span>
	
						 

						
					</div>
				</div>
			</div>
		</form>
			<div class="row">  
						<div class="col-sm-4">
							
						</div>     
						
						<div class="col-sm-4">
							<div  class="form-group">
								
								<button type="button" ng-click="editactivity()" class="pull-left btn btn-green">
									Submit
								</button>

								
							</div>
						</div>
						<div class="col-sm-4">
							
						</div>  
						
						
						
					</div>
             </div>
             </div>
             

</div>
