
 
<h3 >Edit Opening Balance</h3>
<div ng-controller="cashbookcontroller as cashbook">

             <div class="panel panel-default">
             <div class="panel-body">
             	<div class="row">  							
						<div class="col-sm-6">
							<div  class="form-group">						
								<label >Branch Code</label>						
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group">
								<input type="branchcode" class="form-control" placeholder="MCCB001" />
							</div>
						</div>	
				</div>
             
           <div class="row">
				
				<div class="col-sm-6">
					<div  class="form-group">
						<label>Branch Name</label>	
					</div>
				</div>

				<div class="col-sm-6">
					<div  class="form-group">
						 <input class="form-control" type="branchname" placeholder="Muscat City Center Branch" />
						
					</div>
				</div>
	      </div>

         <div class="row">
             <div class="col-sm-6">
            <div class="form-group">
                 <select >
                 	
                 </select>
            </div>

             </div>
  
             <div class="col-sm-6">
             </div>
         </div>

















				<div class="row">
				
				<div class="col-sm-6">
					<div  class="form-group">
						
						<label>Default Display</label>

						
					</div>
				</div>
				<div class="col-sm-6">
					<div  class="form-group">
						 <div class="radio">
                     <label>
                        <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="true" />Yes</label>
                  </div>
                  <div class="radio">
                     <label>
                        <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2" />No</label>
                  </div>
					
						

						
					</div>
				</div>
				</div>
					<div class="row">
				
				<div class="col-sm-6">
					<div  class="form-group">
						
						<label>Billable</label>

						
					</div>
				</div>
				<div class="col-sm-6">
					<div  class="form-group">
						 <div class="radio">
                     <label>
                        <input id="optionsRadios11" type="radio"  name="optionsRadios1" value="option1" checked="true" />Yes</label>
                  </div>
                  <div class="radio">
                     <label>
                        <input id="optionsRadios12" type="radio" name="optionsRadios1" value="option2" />No</label>
                  </div>
					
						

						
					</div>
				</div>
				</div>
				<div class="row">

				<div class="col-sm-6">
					<div  class="form-group">
						
						<label>Amount</label>

						
					</div>
				</div>
				<div class="col-sm-6">
					<div  class="form-group">

					 <input class="form-control" type="amount" placeholder="Enter Amount" />
						
						 

						
					</div>
				</div>
			</div>
			<div class="row">  
						<div class="col-sm-4">
							
						</div>     
						
						<div class="col-sm-4">
							<div  class="form-group">
								
								<button type="button" ng-click="" class="pull-left btn btn-green">
									Submit
								</button>

								
							</div>
						</div>
						<div class="col-sm-4">
							
						</div>  
						
						
						
					</div>
             </div>
             </div>
             

</div>
