    <h3>MY ENQUIRY 360 VIEW</h3>
    <div ng-controller="myenquiry360viewcontroller as myenquiry360" class="container-fluid">
      <div  class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
           <pre class="alert alert-info ng-binding">Enquiry Details</pre>
           <div class="panel-body">
            <div  class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                     <label>Enquiry Date</label>
                   </div>
                 </div>
                 <div class="col-sm-6">
                   <div class="form-group">
                    <label>15-06-2017</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                   <label>Customer Name</label>
                 </div>
               </div>

               <div class="col-sm-6">
                <div class="form-group">
                  <label>R.Bala</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                 <label>Order Type</label>
               </div>
             </div>

             <div class="col-sm-6">
              <div class="form-group">
                <label>Services</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
               <label>Created By</label>
             </div>
           </div>

           <div class="col-sm-6">
             <div class="form-group">
              <label>Admin</label>
            </div>

          </div>
        </div>


      </div>



      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
             <label>Enquiry Reference No.</label>
           </div>
         </div>

         <div class="col-sm-6">
          <div class="form-group">
            <label>ENQAB001</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
           <label>Contact Details</label>
         </div>
       </div>

       <div class="col-sm-6">
        <div class="form-group">
          <label>R.Bala, rbala@gmail.com</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
         <label>Amount</label>
       </div>
     </div>

     <div class="col-sm-6">
      <div class="form-group">
        <label>381,120.00</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
       <label>Order Status</label>
     </div>
   </div>

   <div class="col-sm-6">
     <div class="form-group">
      <label>Approve Pending</label>
    </div>

  </div>
</div>


</div>

</div>
<div class="row">
<div class="col-sm-6">
</div>
<div class="col-sm-4">
  <div class="form-group">
   <a href="">View</a>
 </div>
 </div>
 <div class="col-sm-2">
</div>
</div>
</div>
</div>
</div>


</div>     
<div class="row" >
  <div class="col-sm-4">
    <div class="panel panel-default">
      <pre class="alert alert-info ng-binding">REMINDER</pre>
      <div class="panel-body">
        <div class="row">
          <div  class="col-sm-8">
            <div  class="form-group">
             <input type="reminder" class="form-control" value="155 Visa Process Pending" readonly="textarea">
             <input type="reminder" class="form-control" value="Abdul,Azar,Nafiya,Sulfikar,Sujith,Syed...." readonly="textarea">
           </div>
         </div>
         <div class="col-sm-4">
         </div>
       </div>
            <!--  <div class="row">
              <div align="center">
               <a href="">Update</a>
               <a href="">Delete</a>
             </div>
           </div> -->
         </div>
       </div>
     </div>
     <div class="col-sm-4">
      <div class="panel panel-default">
        <pre class="alert alert-info ng-binding">STAGE AND NOTE</pre>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
             <div class="form-group">
              <label>Enquiry Stage</label>
              <select class="form-control" name="enquirystage">
                <option>Potential</option>
                <option>Completed</option>
                <option>Drop</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Customer Rating</label>
              <select class="form-control" name="customerrating">
                <option>Cold</option>
                <option>Warm</option>
                <option>Hot</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <a href="">Update Stage</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div  class="form-group">
               <textarea rows="3"  class="form-control"></textarea>
             </div>
           </div>
           <div class="col-sm-4">
             <a href="">Update Note</a> 
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="col-sm-4">
  <div class="panel panel-default">
    <pre class="alert alert-info ng-binding">RECENT ACTIVITY</pre>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
        </div>
        <input type="reminder" class="form-control" value="No Recent Activity to Display">
      </div>
    </div>
  </div>
</div>
</div>
<div class="row" >
  <div class="col-sm-4">
    <div class="panel panel-default">
      <pre class="alert alert-info ng-binding">CONTACT INFORMATIONS</pre>
      <div class="panel-body">
       <form>
         <fieldset>
          <label>Contact Details</label>
          <div  class="row">       
            <input class="form-control" type="text" value="Mr.Bala" uib-tooltip-trigger="focus" uib-tooltip-placement="top">
          </div>
        </fieldset>  
        <div class="row" align="center">
         <a href="">Update Contact</a>
       </div>
     </form>
   </div>
 </div>
</div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <pre class="alert alert-info ng-binding">MAIL TAGS</pre>
      <div class="panel-body">        
       <div class="row">
        <form form-wizard="" steps="2" novalidate="" ng-submit="alertSubmit()">
         <div class="form-wizard wizard-horizontal">
           <ol class="row">
            <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-4">
             <h4>TAGGED</h4>
           </li>
           <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-4">
             <h4>UNTAGGED</h4>
           </li>
         </ol>
         <div ng-show="wizard.active(1)">
           <div  class="row">
             <div class="col-sm-12">
              <textarea readonly="textarea" rows="4" class="form-control"  readonly="textarea">178 mails Tagged                 
              </textarea>               
            </div>            
          </div>
        </div>
        <div ng-show="wizard.active(2)">
          <div class="row">        
            <div class="col-sm-12">              
             <textarea readonly="textarea" rows="4" class="form-control" readonly="textarea">375 mails UnTagged                 
             </textarea>
           </div>
         </div>           
       </div>
     </div>
     </form>
   </div>
      
</div>
</div>
</div>

</div>
<div class="row">
 <div class="col-sm-6">
  <div class="panel panel-default">
   <pre class="alert alert-info ng-binding">ADDITIONAL INFORMATION</pre>
   <div class="panel-body">

     <form>
       <fieldset>
         <legend>Remarks</legend>
         <div class="row">

           <div class="col-sm-8">
             <div class="form-group">
               <textarea rows="3" class="form-control">

               </textarea>
             </div>
           </div>

           <div class="col-sm-4">
             <div>

               <a href="">Update Log</a>
             </div>
           </div>
         </div>
       </fieldset>

     </form>





   </div>
 </div>
</div>


<div class="col-sm-6">
  <div class="panel panel-default">
   <pre class="alert alert-info ng-binding">QUOTATION</pre>
   <div class="panel-body">
    <div  class="row">

      <div class="form-group">
        <a href="">ADD QUOTATION</a>
      </div>
      <div class="row">
       <div class="col-sm-1">
       </div>
       <div class="col-sm-10">
        <div class="form-group">

          <input type="addquotation" class="form-control" value="No quotation to display">
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>


  </div>
</div>
</div>
</div>


</div>

<div class="row">
      <div  class="col-sm-6">
      </div>


      <div  class="col-sm-4">

      <div class="form-group">
            <button type="button" class="btn btn-info" ng-click="cancel()">Cancel
            </button>
      </div>

      </div>


      <div  class="col-sm-2">
      </div>





</div>



</div>
</div>









































