<h3 style="color:#000000;">Operation Team Manager</h3>
 <div ng-controller="OperationteammanagerController as operationteammanager">
<div class="panel panel-default">

    <div class="panel-heading">
       Operation Team Manager 
    </div>
    <div class="table-responsive">
       
            <table datatable="ng" class="table table-bordered table-hover">
                <thead>
                    <tr>
                    
                        <th>Team Name</th>
                        <th>Assigned Manager</th>
                        <th>Assigned Employee</th>
                        <th>No of Assigned employee</th>
                        <th colspan="2">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="toe in operationteammanager.toes">
                        <td>{{ toe.teamname }}</td>
                        <td>{{ toe.assignedmanager }}</td>
                        <td>{{ toe.assignedemployee }}</td>
                        <td>{{ toe.noofassignedemployee }}</td>
                        <td class="text-center">  
                            <button type="button" class="btn btn-sm btn-warning" title="Edit">
                               <em class="fa fa-pencil"></em>
                            </button>
                            </td>
                             <td class="text-center"> 
                            <button type="button" class="btn btn-sm btn-danger" title="Delete">
                               <em class="fa fa-trash"></em>
                            </button>
                        </td>
                    </tr>   
                </tbody>
            </table>
     
    </div>
</div>
</div>