<h3>Add Quotation</h3>
<div ng-controller="quotationcontroller as add" class="container-fluid">
<div class="panel panel-default">
         <div class="panel-heading">
         <form role="form" name="quotationForm" novalidate="" class="form-validate">
          <div class="row">



            <div class="col-sm-2">
              <div  class="form-group">

                <label >Quotation Ref No</label>


              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">

               <input class="form-control" ng-model="quotation_refno" type="text" placeholder="" />
             </div>
           </div>

           <div class="col-sm-2">
            <div  class="form-group">

              <label >Quotation Date</label>


            </div>
          </div>
          <div class="col-sm-2">
           <div ng-controller="DatepickerDemoCtrl as dpick" class="form-group">
      <p class="input-group">
       <input ng-model="date" type="text" required="" datepicker-popup="{{dpick.format}}"  is-open="dpick.opened" min-date="false" max-date="false" datepicker-options="dpick.dateOptions"        close-text="Close" class="form-control" />
       <span class="input-group-btn">
        <button type="button" ng-click="dpick.open($event)" class="btn btn-default">
          <em class="fa fa-calendar"></em>
        </button>
      </span></p>
    </div>
         </div>

 <div class="col-sm-2">
            <div  class="form-group">

            

            </div>
          </div>

       </div>

       <div class="row">



        <div class="col-sm-2">
          <div  class="form-group">

            <label >Customer Name</label>


          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">

           <input type="text" name="customername" class="form-control"  ng-model="customer_name" placeholder="Enter Customer Name" >
         </div>
       </div>

       <div class="col-sm-2">
        <div  class="form-group">

          <label >Contact Type</label>


        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">

        <select class="form-control" name="contacttype" type="text" ng-model="contact_type">
      <option value="">Mailing Address</option>
       <option value="">Billing Address</option>
       </select>
       </div>
     </div>



   </div>
    <div class="row">



    <div class="col-sm-2">
      <div  class="form-group">

        <label >Company Name</label>


      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">

     <input type="text" class="form-control" name="companyname" ng-model="company_name" placeholder="Enter Company Name">
     </div>
   </div>

  



</div>
   <div class="row">



    <div class="col-sm-2">
      <div  class="form-group">

        <label >Contact No</label>


      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">

       <input class="form-control" type="text" name="contactno" ng-model="contact_no" placeholder="Enter Contact Number"  ng-pattern="/^\d+$/" maxlength="10" required="" />
       <span ng-show="quotationForm.contactno.$dirty &amp;&amp; quotationForm.contactno.$error.required" class="text-danger">Enter Contact Number</span>
       <span ng-show="quotationForm.contactno.$error.pattern"  class="text-danger">Enter only Numbers</span>
     </div>
   </div>

   <div class="col-sm-2">
    <div  class="form-group">

      <label >Email Address</label>


    </div>
  </div>
  <div class="col-sm-4">
    <div  class="form-group">
       <input class="form-control" type="email" ng-model="email_address" placeholder="Enter Email Address" />
    </div>
  </div>



</div>
<div class="row">



  <div class="col-sm-2">
    <div  class="form-group">

      <label >Address</label>


    </div>
  </div>




  <div class="col-sm-4">
    <div  class="form-group">
      <textarea rows="4"  class="form-control" ng-model="quotn_address" cols="30"></textarea>
      </div>
    </div>

  <div class="col-sm-2">
          <div  class="form-group">

            <label >Country</label>


          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">

         <select class="form-control" ng-model="coun_try" name="text">
           <option value="">--select-</option>
          <option value="{{list.currencygid}}" ng-repeat="list in quotationcurrency ">{{list.currencyname}}</option>
      <!-- <option value="">Oman</option>
       <option value="">India</option> -->
       </select>
         </div>
       </div>

  </div>
    <div class="row">



        <div class="col-sm-2">
          <div  class="form-group">

            <label >Currency</label>


          </div>
        </div>

        <div class="col-sm-2">
          <div  class="form-group">

           <select  class="form-control" name="text" ng-model="qtn_currency">
           <option value="">--select-</option>
          <option value="{{list.currencygid}}" ng-repeat="list in quotationcurrency ">{{list.currencyname}}</option>
      <!-- <option value="">OMR</option>
       <option value="">INR</option> -->
       </select>
         </div>
       </div>

<div class="col-sm-2">
          <div  class="form-group">

          
         </div>
       </div>
       <div class="col-sm-2">
        <div  class="form-group">

          <label >Exchange Rate</label>


        </div>
      </div>
      <div class="col-sm-1">
        <div class="form-group">

         <input class="form-control" type="number" ng-model="exchange_rate" placeholder="" />
       </div>
     </div>

<div class="col-sm-3">
          <div  class="form-group">

          
         </div>
       </div>

   </div>
      <div class="row">



        <div class="col-sm-2">
          <div  class="form-group">

            <label >Remarks</label>


          </div>
        </div>

        <div class="col-sm-6">
          <div  class="form-group">

            <textarea rows="4"  class="form-control" ng-model="activitylog_remarks" cols="30"></textarea>
         </div>
       </div>


   </div>
   </form>
 </div>
</div>

  <div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">  
<div class="panel-heading">
  <div class="row">
    <div class="table-responsive">
    <table datatable="ng" class="table table-bordered table-hover">
      <thead>
        <tr>
       
          <th>Service Type</th>
        
          <th>Amount</th>                  
        
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="toe in quotation">
         
          <td >{{toe.servicedetails}}</td>
          
          <td>
          <textarea class="form-control">
            {{toe.amount}}
          </textarea>
           </td>
         
          
         
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
</div>
</div>
</div>

 <div  class="row" >
<div  class="col-sm-8">
  <div  class="form-group">

</div>
          
         </div>
       
       <div align="right" class="col-sm-2">
        <div  class="form-group">

          <label >Net Amount</label>


        </div>
      </div>
      <div class="col-sm-2">
        <div  class="form-group">

         <input  class="form-control" type="number" ng-model="net_amount" placeholder="" />
       </div>
     </div>
 </div>
  <div  class="row" >
<div  class="col-sm-8">
  <div  class="form-group">

</div>
          
         </div>
       
       <div align="right" class="col-sm-2">
        <div  class="form-group">

          <label >Tax</label>


        </div>
      </div>
      <div class="col-sm-2">
        <div  class="form-group">

         <input  class="form-control" type="activity" placeholder="" />
       </div>
     </div>
 </div>
  <div  class="row" >
<div  class="col-sm-8">
  <div  class="form-group">

</div>
          
         </div>
       
       <div align="right" class="col-sm-2">
        <div  class="form-group">

          <label >Total with Tax</label>


        </div>
      </div>
      <div class="col-sm-2">
        <div  class="form-group">

         <input  class="form-control" type="number" ng-model="total_withtax" placeholder="" />
       </div>
     </div>
 </div>
  <div  class="row" >
<div  class="col-sm-8">
  <div  class="form-group">

</div>
          
         </div>
       
       <div align="right" class="col-sm-2">
        <div  class="form-group">

          <label >Add on Charges</label>


        </div>
      </div>
      <div class="col-sm-2">
        <div  class="form-group">

         <input  class="form-control" type="number" ng-model="addon_charges" placeholder="" />
       </div>
     </div>
 </div>
 <div  class="row" >
<div  class="col-sm-8">
  <div  class="form-group">

</div>
          
         </div>
       
       <div align="right" class="col-sm-2">
        <div  class="form-group">

          <label >Additional Discount</label>


        </div>
      </div>
      <div class="col-sm-2">
        <div  class="form-group">

         <input  class="form-control" type="number" ng-model="adtnl_discount" placeholder="" />
       </div>
     </div>
 </div>
  <div  class="row" >
<div  class="col-sm-8">
  <div  class="form-group">

</div>
          
         </div>
       
       <div align="right" class="col-sm-2">
        <div  class="form-group">

          <label >Grand total</label>


        </div>
      </div>
      <div class="col-sm-2">
        <div  class="form-group">

         <input  class="form-control" type="activity" placeholder="" />
       </div>
     </div>
 </div>
<div class="panel-footer text-center">
                <button type="submit" class="btn btn-green" ng-click="btn_quotationadd()">Submit</button> &nbsp;
                <button type="cancel" class="btn btn-danger" ng-click="btn_quotationback()">Cancel</button>
            </div>  

 
 
</div>