
 
<h3 >Reminder</h3>
<div ng-controller="reminderremindcontroller as remind">

             <div class="panel panel-default">
             <div class="panel-body">
              <div class="row"> 
        <div class="col-sm-2">
          
        </div>                    
        <div class="col-sm-4">
          <div  class="form-group">           
            <label >Reminder</label>           
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="form-group">
            
            <select name="reminder"   class="mda-form-control">
              <option>Every Year</option>
              <option>Every Month</option>
              <option>Every Week</option>
              <option>Every Day</option>   
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          
        </div>
        
          
        </div>
             
     <div class="row">
        <div class="col-sm-2">
          
        </div>   
        <div class="col-sm-4">
          <div  class="form-group">
            
            <label>Befor Reminder Days</label>

            
          </div>
        </div>
        <div class="col-sm-4">
          <div  class="form-group">
             <input class="form-control" type="days" placeholder="Enter Days" /> 
          </div>
        </div>
        <div class="col-sm-2">
          
        </div>   
        </div>
        <div class="row">
          
         &nbsp; &nbsp; &nbsp;
        </div>
      
      <div class="row">  
            <div class="col-sm-4">
              
            </div>     
            
            <div class="col-sm-4">
      
               <div class="panel-footer text-center">
              <button type="submit" class="btn btn-green">Submit</button> &nbsp;
              <button type="cancel" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>  
            </div>
            <div class="col-sm-4">
              
            </div>  
            
            
            
          </div>
             </div>
             </div>
             

</div>
