<h3 >Reminder Status</h3>
<div ng-controller="remindercontroller as reminder">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div  class="form-group">
						<label>Remarks</label>
					</div>
					<div  class="form-group">
						<textarea rows="4" cols="50"></textarea>
					</div>
				</div>
			</div>
			<div class="row" align="center">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4" >
					<div  class="form-group" align="center">
						<button type="button" ng-click="" class="pull-left btn btn-green" >
							Close
						</button>
					</div>
					
				</div>
				<div class="col-sm-4">
					</div>
			</div>
		</div>
	</div>
</div>



